.active{
    color: aliceblue;
}
.section-menu{
    z-index: 99;
}
.test{
    padding: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}
.button-section button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: blueviolet;
    color: azure;
}
.popup{
    width: 350px;
    text-align: center;
    background: #fff;
    padding: 10px 50px 50px 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: 0.4s;
    border-radius: 15px;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    margin-top: -50px;
    width: auto;
    height: 50px;
}
.popup button{
    border: none;
    background-color: rgb(228, 231, 27);
}
.popup h1{
    color: rgb(0, 0, 0);
}
.popup p{
    color: rgb(0, 0, 0);
}

/* slider images */

.slider_button{
    border: none;
    color: #3600a1;
    background: hotpink;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}
/* slider end */
